@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "@tailwindcss/typography";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 210 20% 98%;
    --muted-foreground: 217 19% 47%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;

    --primary: 243 76% 59%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 214 20% 65%;

    --accent: 210 40% 96.08%;
    --accent-foreground: 215.9 16.3% 34.9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 243 76% 59%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240, 10%, 4%;
    --foreground: 0 0% 98%;

    --muted: 240, 6%, 10%;
    --muted-foreground: 218, 11%, 65%;

    --popover: 240, 6%, 10%;
    --popover-foreground: 0 0% 98%;

    --card: 240, 6%, 10%;
    --card-foreground: 0 0% 98%;

    --border: 240, 4%, 16%;
    --input: 240, 4%, 16%;

    --primary: 243, 75%, 59%;
    --primary-foreground: 0 0% 98%;

    --secondary: 215, 14%, 34%;
    --secondary-foreground: 240, 5%, 34%;

    --accent: 240, 4%, 16%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0, 72%, 51%;
    --destructive-foreground: 0 0% 98%;

    --ring: 243, 75%, 59%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
